doctype html
html(lang="en")
    head
        title The Iniquity Bulletin Board System

        link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Anton", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Exo+2:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Play", rel="stylesheet")

        link(href="/node_modules/vuetify/dist/vuetify.min.css", rel="stylesheet")

        meta(name="viewport", content="width=device-width, initial-scale=1")

        style
            include:less index.style.less

    body(style="display: none;background-color: #212121;")

        // Iniquity BBS Application

        iniquitybbs#index

            v-app(dark)

                v-toolbar.black

                    toolbar_logo(onclick="javascript:window.location='/';", style="cursor: pointer;")

                        img(src="/assets/images/iq.png", style="height: 50px; margin-bottom: -10px;position: relative;")
                        span(style="margin-left: 3.5px;").dos-logo Iniquity BBS

                    v-spacer

                    // Component Navigation

                    v-toolbar-items
                        v-btn(flat href="/static/demo.html" target="_blank").dos-smallest Demo It!
                        v-btn(flat href="https://github.com/iniquitybbs/iniquity" target="_blank").dos-smallest GitHub
                        v-btn(flat href="https://rubygems.org/gems/iniquity" target="_blank").dos-smallest RubyGems
                        v-btn(flat href="https://github.com/iniquitybbs/iniquity/tree/master/doc" target="_blank").dos-smallest Documentation

                        // storage(style="margin-top: 8px;", v-for="item in navigation")
                                v-btn(flat) {{ item.title }}

                v-content(fluid)

                    broadcast(v-on:click="show_broadcasts = !show_broadcasts")
                        transition(name="fade")
                            v-alert.dos-smallest(v-if="show_broadcasts", color="info", value="true") You are viewing a development version of the Iniquity BBS website. Please check back for updates.

                        v-layout(row wrap)
                            v-flex(xs12 style="margin-left:5%;margin-right:5%;")
                                div(v-for="post in posts" :key="post.title")
                                    v-card(class="my-3", hover)
                                        v-container(fluid)
                                            v-layout.row.wrap
                                                v-flex(xs12, align-end, flexbox, style="padding: 10px;").black

                                                    h1.dos-small {{ post.title }}
                                                    br

                                                    p.dos-smallest {{ post.content }}

                                                    p.dos-smallest {{ post.author }}

                            // v-flex(xs4)
                                v-flex(xs10 offset-md1 style="margin-top:4%;")
                                    v-sidebar(fixed v-model="nav2")
                                        v-list
                                            v-list-item(v-for="post in posts" :key="post")
                                                v-list-tile
                                                    // v-avatar
                                                        img(src="/static/images/image5.jpg" alt="ispyhumanfly")
                                                    v-list-tile-title {{ post.title }}

                v-footer.black.fluid
                    v-layout.row.wrap.align-center
                        v-flex.xs12
                            .white--text.ml-3.dos-smallest 2017 - 2018 Dan Stephenson (ispyhumanfly)

        // Blog Component File Setup

        script(src="/node_modules/vue/dist/vue.js")
        script(src="/node_modules/vuetify/dist/vuetify.js")
        script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js")

        script.
            $(document).ready(function() {
                // $('*').hide()
                //$('body').each(function() {
                $("body").fadeIn(2000)
                //})
            })

        script.
            new Vue({
                el: '#index',
                data () {
                    return {
                        show_broadcasts: true,
                        navigation: [
                            {
                                title: "Index",
                                url: "/index"
                            },
                            {
                                title: "Platform",
                                url: "/platform"
                            },
                            {
                                title: "Account",
                                url: "/account"
                            }
                        ],
                        posts: [
                            {
                                title: 'Iniquity BBS 0.0.12 has been released to RubyGems!',
                                author: 'ispyhumanfly',
                                content: "I’ll admit there’s been a bit of a lull since my initial creative spree with Iniquity BBS. The first few weeks were on fire, but between December and February not much action. Now, I don’t consider 0.0.12 to be a major release at all. In fact, there’s not a whole lot more to it with respect to the previous few releases. But it’s a step in the right direction. Considerable effort was placed on the build process, and, the ease of installation of Iniquity BBS on both Windows and OSX. Future releases will begin to formalize the IPM package management a bit more, as well as focus on being able to login and create accounts."
                            },
                            {
                                title: 'Welcome to the Iniquity BBS website.',
                                author: 'ispyhumanfly',
                                content: 'Well, after a few months of development on the new Iniquity BBS software, I decided to start working up a simple website for the project. The website code is built on top of my own application framework, Avian, which is available on npmjs.org. There will be numerous updates to this website over the next few weeks.'
                            }
                        ]
                    }
                }
            })