body {
  min-width: 640px;
  background-color: #212121;
}

@font-face {
  font-family: '8x16';
  src: url('/assets/fonts/dos437-webfont.woff');
  src: local('Ã¢ËœÂº'), url('/assets/fonts/dos437-webfont.woff') format('woff'), url('/assets/fonts/dos437-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@dos-font: '8x16' !important;

[v-cloak] > * {display: none}
[v-cloak]::before { 
  font-family: @dos-font;
  font-size: large;
  color: white;
  content: "Loading...";
}

.dos-smallest {
  font-family: @dos-font;
  font-size: 6pt;
}

.dos-smaller {
  font-family: @dos-font;
  font-size: smaller;
}
.dos-small {
  font-family: @dos-font;
  font-size: small;
}

.dos-medium {
  font-family: @dos-font;
  font-size: medium;
}

.dos-large {
  font-family: @dos-font;
  font-size: large;
}

.dos-larger {
  font-family: @dos-font;
  font-size: larger;
}

.dos-logo {
  font-family: @dos-font;
  font-size: 10pt;
}

.dos-title {
  font-family: @dos-font;
  font-size: 1pt;
}
// Alert experiment...
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }